<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title><%= headTitle %></title>
	<link rel="stylesheet" href="/css/all.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/common.css">
</head>
<body>