<link rel="stylesheet" href="/css/header.css">
<header class="header-wrapper">
	<div class="logo">LOGO</div>
	<div class="navi-wrap">
		<a href="/event">EVENT</a>
		<a href="/gbook">GUESTBOOK</a>
	</div>
</header>