<link rel="stylesheet" href="/css/header.css">
<header class="header-wrapper">
	<div class="logo">LOGO</div>
	<div class="navi-wrap">
		<a href="/event">Event</a>
		<a href="/gbook">GuestBook</a>
		<a href="/html/upload.html">Upload</a>
	</div>
</header>