<link rel="stylesheet" href="/css/title.css">
<div class="jumbotron">
	<h2 class="title">
		<i class="fa fa-paper-plane mr-2"></i>
		<%- pageTitle -%>
		<hr>
		<small><%- pageDesc -%> </span>
	</h2>
</div>