<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>이벤트리스트</title>
	<link rel="stylesheet" href="/css/all.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/event.css">
</head>
<body>
	<header class="header-wrapper">
		<div class="logo">LOGO</div>
		<div class="navi-wrap">
			<a href="/event">EVENT</a>
			<a href="/gbook">GUESTBOOK</a>
		</div>
	</header>
	<div class="wrapper">
		<h2 class="title">
			<i class="fa fa-paper-plane mr-2"></i>
			<span>이벤트리스트: <%= event.length %>개</span>
		</h2>
		<ul class="evt-wrapper">
			<% for(let v of event) { %>
				<li class="evt">
					<div class="img-wrap"> 
						<img class="w-100" src="/img/event/<%= v.src %> " alt="pic" />
					</div>
					<div class="desc-wrap">
						<h3 class="title"><%= v.title %> </h3>
						<p class="price"><%= v.price %> </p>
					</div>
				</li>
			<% } %>
		</ul>
	</div>
</body>
</html>