<%- include('./inc/head.ejs') %> 
<%- include('./inc/header.ejs') %> 
<link rel="stylesheet" href="/css/gbook.css">
<div class="wrapper">
	.wrapper
</div>
<script src="/js/gbook.js"></script>
<%- include('./inc/foot.ejs') %> 