doctype html 
html(lang="ko") 
	head
		meta(charset="utf-8")
		title 상품리스트
		link(rel="stylesheet" href="/css/all.min.css")
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/base.css")
		link(rel="stylesheet" href="/css/products.css")
	body
		.wrapper
			h1.title
				i.fa.fa-paper-plane.mr-2
				span= `상품리스트: ${count}개`