.wrapper {max-width: 800px; margin: auto;}
.wrapper h2.title {font-size: 2em; line-height: 2em; border-bottom: 5px double #ddd; color: #555;}

.evt-wrapper {display: flex; flex-wrap: wrap; width: 102%;}
.evt-wrapper .evt {width: 31.3333%; margin: 1% 2% 1% 0;}
.evt-wrapper .evt h3.title {font-size: 1.5em; padding: .5em 0;}
.evt-wrapper .evt .price {font-size: 1.25em; text-align: right; padding: .5em 0; border-top: 1px solid #ccc;}