<li class="evt">
	<div class="img-wrap"> 
		<img class="w-100" src="/img/event/<%= v.src %> " alt="pic" />
	</div>
	<div class="desc-wrap">
		<h3 class="title"><%= v.title %> </h3>
		<p class="price"><%= v.price %> </p>
	</div>
</li>